{% extends "main.html" %}

{% block title %}Sing-in | {{ block.super }}{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-danger  mb-2">
            <a href="#">Login with Instagram</a>
        </button>
        <button class="btn btn-primary mb-2">
            <a href="#">Login with Facebook
            </a>
        </button>
        <button class="btn btn-info mb-2">
            <a href="#">Login with LinkedIn</a>
        </button>
    </div>
</div>
</div>




    <div class="row">
    <div class="col">
        <form method="post">
       {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    </div>
    <div class="row">
        <div class="col">
            If you don't have an account.
            <a href="{% url 'user:sign-up' %}">registration</a>
        </div>
    </div>
{% endblock %}




{#{% block content %}#}
{#  <form autocomplete="off" method="post" class="row justify-content-center">#}
{#    <div class="col-6">#}
{#      {% csrf_token %}#}

{#      <div class="mt-3">#}
{#        <button type="submit" class="btn btn-primary">Sign In</button>#}
{#        <a href="{% url 'main:home' %}" class="btn btn-danger">Cancel</a>#}
{#      </div>#}
{#      <div class="mt-3">Already have an account? <a href="{% url 'user:sign-in' %}">Sing In</a></div>#}
{#    </div>#}
{#  </form>#}
{#{% endblock %}#}