{% extends 'main.html' %}

{% block content %}


<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">You answered {{ request.session.result }} out of {{request.session.count}} questions correctly  </p>
    <h3>result: {{ request.session.percent }}%</h3>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


{% endblock %}